@{
    ViewBag.Title = "About";
}

<h2>SOBRE NOSOTROS</h2>
<p>Somos la mejor veterinaria de todo el mundo, las celebridades mas reconocidas vienen a nuestra veterinaria y recibimos a las mascotas mas importantes del Hollywood</p>

<h4>Opinion de nuestros clientes</h4>
<strong> <i class="fas fa-star"> </i>  Paris Hilton:</strong> El mejor servicio, SUPER HOT, 5 estrellas
<br />
<strong> <i class="fas fa-star"> </i>  Chris Evans:</strong> Excelentes doctores, mi perro me ayudara a salvar el mundo, 5 estrellas
<br />
<strong> <i class="fas fa-star"> </i>  Jeffree Star:</strong> El servicio perfecto, calidad y excelente trato, JEFFREE STAR APPROVED, 5 estrellas
<br />
<strong> <i class="fas fa-star"> </i>  Sharpay Evans:</strong> Servicio super top, 5 estrellas
<br />
